/** Add any CSS you need to this file. */
body {
  margin: 0;
}

header {
  width: 100%;
  background-color: #ede682;
  font-family: 'Playfair Display', serif;
}

ul {
  list-style-type: none;
  margin: 0px 5px;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  min-width: 100px;
}

.store-name {
  font-size: 36px;
}

.grid-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70%;
  justify-content: center;
}

/* card */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  margin: 5px;
  display: inline-grid;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.title {
  font-family: 'Recursive', sans-serif;
  color: #8675a9;
}

.burger-img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* side bar */
.sidebar {
  height: 200px;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 54px;
  left: 0;
  background-color: yellow;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  cursor: pointer;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: black;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* footer */
footer {
  height: 50px;
  width: 100%;
  background-color: yellow;
}

.footer-email {
  border-style: none;
}
